<h1 style="text-align: center">Doctor v/s Patients List</h1>
<div style="text-align: center;">
    <% if current_user.admin? %>
		<button><%= link_to 'Add Doctor', doctors_path() %></button>
	<% end %>
	<button style="margin-left: 100px;"><%= link_to 'Search Doctors', search_path() %></button>
</div>
<div style="text-align: center; border-style: solid; margin-top: 10px;">
<div style="display: inline-block; vertical-align: top">
<% @doctors.each do |d| %>
<br>
<%= d.name %><br>
<%= d.doctor_type %><br>
<%= d.specialization %><br>
<%= d.qualification %><br>
<%= d.years_of_exp %><br>
<%= d.rating %><br>
<%= d.total_ratings %><br>
<% end %>
</div>
<div style="display: inline-block; vertical-align: top; margin-left: 300px;">
<% @patients.each do |p| %>
<br>
<%= p.name %><br>
<%= p.birth_date %><br>
<%= p.gender %><br>
<% end %>
</div>
</div>